<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>登録データ検索</title>

      <style type="text/css">
         textdat {
            color: blue;
         }         
      </style>
   </head>
   <body>
      <form action = "/" method = "POST">
         <H1>登録データ検索アプリケーション</H1>
         <div style="border: #ffb6c1 solid 1px; font-size: 100%; padding: 20px;">
            <h1>入力</h1>
            <p>検索条件<br>
               <input type="radio" name="search_kind" value="なし"checked>なし
               <input type="radio" name="search_kind" value="入庫">入庫
               <input type="radio" name="search_kind" value="出庫">出庫
            </p>
            <label for="searchdate">検索日付を入力</label>
            <input type="date" name="searchdate" id="searchdate">
            <p>※日付指定がない場合は、検索条件での全件検索となります</p>
            <button type="submit">検索</button>
         </div>
      </form>
      <br>
      <div style="border: #ffb6c1 solid 1px; font-size: 100%; padding: 20px;">

         <h1>検索結果</h1>
         <textdat>
            <p>{{text}}</p>
            <p>{{text2}}</p>
         </textdat>

         <table border="1" bordercolor = #6A5ACD width="700">
            <tr bgcolor=#00FFFF>
               <th width="110">登録日付</th>
               <th width="85">入庫/出庫</th>
               <th width="250">注文番号</th>
               <th>内容</th>
            </tr>
         </table>
         
         <div style = "overflow-y: scroll; height: 200px; width: 720px; bgcolor:#FF0000;">
            <table border="1" bordercolor = #6A5ACD width="700">
               {% for i in arr %}   
                  <tr>
                     <td width="110">{{ i[1] }}</td>
                     <td width="85" align="center">{{ i[2] }}</td>
                     <td width="250">{{ i[4] }}</td>
                     <td>{{ i[3] }}</td>
                  </tr>
               {% endfor %}

            </table>
         </div>
         <br>
      </div>
   </body>
</html>